<a href="https://colab.research.google.com/github/faizullah19012002/Assessment-Pw-Skills-/blob/main/Assessment_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Print numbers from 1 to 5 using a while loop.

In [2]:
i = 1
while i <=5:
  print(i)
  i = i+1

1
2
3
4
5

In [3]:
# Calclate the summ of number from 1 to 10 using a while loop.

In [13]:
sum = 0
num = 1
while num <= 10 :
  sum = num+sum
  num = num+1
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [14]:
# Calclate the factorial of a nmber ing a for loop.

In [18]:
num = 5
fact = 1
for i in range(1, num+1):
  fact = fact*i
  print(fact)

1
2
6
24
120

In [ ]:
# Cont the nmber of vowel in a string using a for loop.

In [24]:
name = "PW Skill"
count = 0
vowles = ("a,e,i,o,u,A,E,I,O,U")
for i in name :
  if i in vowles:
    count = count + 1
    print(count)

1

In [25]:
# Print a pattern using neted loop.

In [26]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
      print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [27]:
# Generate a mltiplication table using neted loop.

In [28]:
size = 5
for i in range(1, size + 1):
    for j in range(1, size + 1):
        product = i * j
        print(product, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25